/*** GERAL ***/
html{
     background-color: #d1b8a2;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, "Lilita One", Verdana, sans-serif;
    }

  /*TEXTOS*/
     .titulo {
     font-size: 2.7em;
     color: antiquewhite;
     font-weight: bold;
     font-variant: all-petite-caps;
     }

     .subtitulo {
     font-size: 2em;
     color: #83381a;
     font-style: italic;
     }

     .paragrafo {
     font-size: .8em;
     color: #411a04;
     max-width: 1240px;
     }
     menu a {
        font-size: 1.6em;
        color: #b46f53;
        text-decoration: none;
     }
    

/*** BODY ***/

  /* HEADER */
header {
    width: auto;
    height: 8vh;
    max-height: 65px;
    min-height: 47.5px;
    background-color: #34120c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    float: inline-start;
    margin-top: .1vmax ;
    margin-left: 1vmax;
}
menu ul{
    padding: 5px;
    margin-top: .75vmax;
    margin-right: 1vmax;
    display: flex;
}
.links {
    padding: 8px 16px;
    gap: 10px;
}


  /*** INTRODUÇÃO ***/
.intro {
    height: 318px;
    background-color: #bba288;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resumo {
    width: 40vw;
    transform: translate(-19px, -18px);
}
.foto {
    width: 16.6vmax;
    min-width: 170px;
    border-width: 4px;
    border-color: #6b2f18;
    border-style: solid;
    border-radius: 100%;
    margin-top: 1.6vmax;
    margin-left: 11.5vmax;
    margin-right: 10vw;

    float: left;
    display: inline;
}

  /*** CURIOSIDADES ***/
  .dados {
    display:flex;
    justify-content: space-around;
    height: 45.3vh;
  }
.curiosidades {
    width: 50vw;
    height: auto;
    background-color: #0307ff00;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.curiosidades2 {
    width: 50vw;
    height: auto;
    background-color: #ff030300;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top {
    padding-top: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}
.top-corpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.hobbies {
    padding-top: 10px;
    text-align: right;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    align-content: center;
}
.hobbies-corpo {
    text-align: right;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hobby {
    background-color: #34120c;
    align-content: flex-end;
    width: 102px;
    height: 150px;
    margin: 4.5px;
    margin-top: 20px;
    padding: 17px;
    gap: 10px;
    font-size: .70em;
    color: #83381a;
    box-sizing: border-box;
}
.hobby:hover{
       color: rgba(255, 255, 255, 0.685);
       margin-top: 10px;
       border: 2px solid white;
       background-color: #8f4021;
       box-shadow: 2px 2px 5px #883607c4;
}
.top5 {
    background-color: #34120c;
    align-content: center;
    width: 102px;
    height: 150px;
    margin: 4.5px;
    margin-top: 20px;
    padding: 17px;
    gap: 10px;
    font-size: .70em;
    color: #34120c;
    box-sizing: border-box;
}
.top5:hover {
    color: rgba(255, 255, 255, 0.685);
       margin-top: 10px;
       border: 2px solid white;
       background-color: #8f4021;
       box-shadow: 2px 2px 5px #883607c4;
}
.fig {
    width: 88px;
    transform: translate(-10px, -1px);
}
.top1 {
    margin-top: -24px;
    margin-bottom: 2px;
    width: 20px;
    height: 18px;
    background-color: goldenrod;
    text-align:center;
    font-size: large;
    padding-top: 15px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.top2 {
    margin-top: -24px;
    margin-bottom: 2px;
    width: 20px;
    height: 18px;
    background-color: silver;
    text-align:center;
    font-size: large;
    padding-top: 15px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.top3 {
    margin-top: -24px;
    margin-bottom: 2px;
    width: 20px;
    height: 18px;
    background-color: rgb(114, 66, 21);
    text-align:center;
    font-size: large;
    padding-top: 15px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.top-av {
    margin-top: -24px;
    margin-bottom: 2px;
    width: 20px;
    height: 18px;
    background-color: #34120c;
    padding-top: 15px;
    text-align:center;
    font-size: large;
}
  /*** CONTATO ***/

footer {
    height: 7vh;
    background-color: #8d6d5a;
    float: inherit;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}  
footer a {
    display: block;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3vw;
    margin-top: 1vh;
    width: auto;
    box-sizing: border-box;
}
footer img{
    border-radius: 100%;
    height: 2vmax;
    min-height: 30px;
}
.botao{
    color:#d1b8a2;
    background-color:#34120c;
    border-style: none;
    margin-top: 1.1vh;
    margin-right: 10vw;
    width: 162px;
    height: 38px;
    border-radius: 5px;
    padding: 8px 16px;
    
}
.botao:hover {
    border: 2px solid rgba(255, 255, 255, 0.863);
}
.redes-sociais {
    display: flex;
    align-items: center;
}
/* ESTILOS RESPONSIVOS*/

 